html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  header {
    font-size: 2rem;
    text-align: center;
    color: red;
    background-color: black;
    margin-bottom: 2rem;
  }

  .container {
    display: flex;
    border: 2px solid black;
  }